<h1><%= t("views.tasks.edit.edit task") %></h1>

<%= form_with(model: @task, local: true) do |form| %>
    <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="field">
     <%= form.label :title, t("views.tasks.edit.title")%>
     <%= form.text_field :title %>
    </div>
    <div class="field">
     <%= form.label :content, t("views.tasks.edit.content")%>
     <%= form.text_area :content %>
    <div class="field">
     <%= form.label :deadline_on, t("activerecord.attributes.task.deadline_on") %>
     <%= form.date_field :deadline_on %>
    </div>
    <div class="field">
     <%= form.label :priority, t("activerecord.attributes.task.priority") %>
     <%= form.select :priority, options_for_select(Task.priorities.keys.map { |k| [I18n.t("enums.task.priority.#{k}"), k] }, selected: @task.priority) %>
    </div>
    <div class="field">
     <%= form.label :status, t("activerecord.attributes.task.status") %>
     <%= form.select :status, options_for_select(Task.statuses.keys.map { |k| [I18n.t("enums.task.status.#{k}"), k] }, selected: @task.status) %>
    </div>
    </div>
     <div class="actions">
     <%= form.submit t("views.tasks.edit.update task"), id: 'update-task' %>
    </div>
   <% end %>


<%= link_to t("views.tasks.edit.back"), tasks_path, id: 'back' %>
