<h1><%= t("views.tasks.new.new_task") %></h1>

<%= form_with(model: @task, local: true) do |form| %>
    <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> <%= t('views.tasks.new.prohibited') %></h2>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :title, t('views.tasks.new.title') %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :content, t('views.tasks.new.content') %>
    <%= form.text_area :content %>
  </div>
  <div class="field">
    <%= form.label :deadline_on, t("activerecord.attributes.task.deadline_on") %>
    <%= form.date_field :deadline_on %>
  </div>

  <div class="field">
    <%= form.label :priority, t("activerecord.attributes.task.priority") %>
    <%= form.select :priority, options_for_select(Task.priorities.keys.map { |k| [I18n.t("enums.task.priority.#{k}"), k] }, selected: nil), include_blank: true %>
    </div>

  <div class="field">
    <%= form.label :status, t("activerecord.attributes.task.status") %>
    <%= form.select :status, options_for_select(Task.statuses.keys.map { |k| [I18n.t("enums.task.status.#{k}"), k] }, selected: nil), include_blank: true %>
    </div>

  <div class="actions">
    <%= form.submit t('views.tasks.new.create_task'), id: 'create_task' %>
  </div>

  
<% end %>

<%= link_to t('views.tasks.new.back'), tasks_path, id: 'back' %>
