<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
      # <nav>
      #   <ul>
      #     <li><%= link_to t('navigation.tasks_index'), tasks_path, id: 'tasks-index' %></li>
      #     <li><%= link_to t('navigation.new_task'), new_task_path, id: 'new-task' %></li>
      #   </ul>
      # </nav>
      <% if session[:user_id] %>
        <%= link_to 'Logout', logout_path, method: :delete %>
      <% else %>
        <%= link_to 'Login', login_path %>
      <% end %>
    </header>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <%= yield %>
  </body>
</html>
